body {
    padding: 0;
    margin: 0;
    background-color: #282828;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 110px;
}
.btn {
    height: 40px;
    padding: 0 20px;
    border: none; 
    border-radius: 5px;
    background: #adff2f;
    cursor: pointer;
    font: 18px Tahoma, Arial, sans-serif;
    color: #666;
    margin: 0 20px;
}
.btn:hover {
    background: #6aff2f;
}
.output {
    background: #282828;
    font: 1.6rem Tahoma, Arial, sans-serif;
    text-align: center;
    color: #f5f5f5;
    box-sizing: border-box;
}
.background-photo {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 600px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: #585858;
    background-position: center; 
    margin: 0;
}
.first-photo {
    background-image: url("../img/youth-5.jpg");
}
.bottom-photo {
    background-image: url("../img/raise-3.jpg");
}
.main-container, .background-photo {
    background-attachment: fixed;
    }
.main-container {
    background-attachment: scroll;
    }

@media only screen and (min-width: 900px) {
    .first-photo {
        background-position: top;
    }
  }
  
@media (max-width: 767px) {
    .main-container, .background-photo {   
        background-attachment: initial;   
        }
    }