body {
    margin: 0;
    padding: 0;
    background: #282828;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
form div {
    margin: 10px 0 25px 0;
}
input {
    font-size: 20px;
}
output {
    margin-top: 20px;
}
#policz {
    margin-top: 5px;
}
a {
    text-decoration: none;
}
table {
    margin: 20px 0px;
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    padding: 10px 20px;
    border: 2px solid #fff;
    text-align: left;
}
tr {
    transition: 0.3s;
}
tbody tr:hover {
    background-color: #181828;
    cursor: pointer;
}
@media only screen and (min-width: 800px) {
    table {
       width: 70%;
       margin-top: 40px;
       margin-left: auto;
       margin-right: auto;
    }
}
