body {
    margin: 0px;
    padding: 0px;
    background-image: url("img/darkness.png");
}
header {
    color: #0000ff;
}
@media screen and (max-width: 600px) {
    header {
        font-size: 0.7rem;
    }
}
#container {
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}
article {
    margin: 50px 50px;
}
img {
    border-radius: 100px;
    max-width: 150px;
}
hr {
    width: 90%;
    margin-bottom: 20px;
}
footer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
  footer div a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: 1s;
  }
  footer div a:hover {
      color: #0000ff;
  }
  /*animation*/
  img {
    position: relative;
    -webkit-animation-name: imgAnim;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */    
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: imgAnim;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
    cursor: pointer;
    transition: 1s;
}
img:hover {
    transform: rotate(360deg);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes imgAmim {
    from {top:0px;}
    to {top: 50px;}
}

@keyframes imgAnim {
    from {top: 0px;}
    to {top: 50px;}
}
  