body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    background-image: url("img/darkness.png");
}
header {
    color: #0000ff;
}
.dropdown-menu li a{
    font-size: 17px;
}
#container {
    width: 92%;
    margin: auto;
    text-align: center;
    color: #ffffff;
}
article {
    margin: 60px 0 60px 0;
    padding: 5px;
}
img {
    margin-top: 50px;
    border-radius: 100px;
    max-width: 150px;
}
#koperta {
    max-width: 30px;
}
img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-direction: row;
}
footer {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-top: 2px solid #0000ff;
  }
  footer div {
      margin-top: 10px;
      
  }
  footer div a {
    font-size: 14px;
    color: #ffffff;
    transition: 0.5s;
  }
  footer div a:hover {
    text-decoration: none;
    color: #0000ff;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      -ms-transform: translate3d(-1px, 0, 0);
      -webkit-transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
      -ms-transform: translate3d(2px, 0, 0);
      -webkit-transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
      -ms-transform: translate3d(-4px, 0, 0);
      -webkit-transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
      -ms-transform: translate3d(4px, 0, 0);
      -webkit-transform: translate3d(4px, 0, 0);
    }
  }

  


