/*animations*/
img {
    position: relative;
    -webkit-animation-name: imgAnim; 
    -webkit-animation-duration: 2.5s;     
    -webkit-animation-fill-mode: forwards; 
    animation-name: imgAnim;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
    cursor: pointer;
    transition: 0.9s;
}
img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

@-webkit-keyframes imgAmim {
    from {top:-250px;}
    to {top: 50px;}
}

@keyframes imgAnim {
    from {top: -250px;}
    to {top: 50px;}
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    background-image: url("img/darkness.png");
}
header {
    color: #0000ff;
}
@media screen and (max-width: 600px) {
    header {
        font-size: 0.7rem;
    }
}
#container {
    width: 92%;
    margin: auto;
    text-align: center;
    color: #ffffff;
}
article {
    margin: 60px 0 60px 0;
    padding: 5px;
}
img {
    border-radius: 100px;
    max-width: 150px;
}
hr {
    width: 90%; 
}
footer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
  footer div a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    transition: 0.5s;
  }
  footer div a:hover {
      color: #0000ff;
  }
  


