html, body{
    height: 100%;
}
body{
    margin: 0;
    background: url("./img/background-01.png") repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 30px;
    text-align: center;
    color: whitesmoke;
    padding: 5px;
}
.container p{
    font-size: 1.2rem;
}
button{
    width: 120px;
    height: 25px;
    background-color: #91ff00;
    cursor: pointer;
}
input, button{
    margin-top: 10px;
}
#info{
    margin: 15px;
    font-size: 18px;
    color: #ffa500;
}
footer{
    height: 60px;
    width: 80%;
    margin: auto;
    border-top: 1px solid #f5f5f5;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: #91ff00;
    font-size: 19px;
    transition: 0.3s;
}
footer a:hover{
    color: blue;
}
