body {
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: #fff;
}
a {
    text-decoration: none;
}
#app-container {
    width: 90%;
    margin: auto;
    padding: 10px;
}
.flex-container {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#start-div {
    text-align: center;
    margin-top: 30px;
}
#showTask {
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 120px;
    height: 46px;
    background-color: #006eff;
    color: #fff;
    font-size: 24px; 
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 5px; 
}
#input {
    height: 40px;
    width: 80px;
    font-size: 24px;
    margin: 8px 4px;
    padding-left: 10px;
    border-radius: 5px;
}
.btn {
    background-color: #0044ff;
    height: 46px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px; 
    color: #fff;
    border: 1px solid #fff;
}
.btn:focus {
    opacity: 0.3;
}
#show-result-div {
    padding-top: 20px;
    text-align: center;
    margin: 20px 0px;
    border-top: 1px solid #adff2f;
}
#points {
    text-align: center;
}
