body{
    margin: 0;
    background-color: #fff;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
}
#back-to-portfolio{
    width: 140px;
    font-size: 18px;
    border: 1px solid #ffffff;
    padding: 10px;
    background-color: #ff932f;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
#back-to-portfolio:hover{
    background-color: #fa8415;
}
#app-container{
    width: 90%;
    margin: auto;
    padding: 10px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#showTask{
    padding-top: 8px;
    text-align: center;
    box-sizing: border-box;
    width: 120px;
    height: 46px;
    background-color: #006eff;
    color: #ffffff;
    font-size: 24px; 
    margin: 5px;
    border-radius: 5px; 
}
#input{
    height: 40px;
    width: 80px;
    font-size: 24px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 5px;
}
.btn{
    background-color: #0044ff;
    height: 46px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px; 
    color: #ffffff;
}
.btn:focus{
    background-color: #006eff;
    color: #ffffff;
    box-shadow: 0 0;
    opacity: 0.5;
}
#show-result-div{
    text-align: center;
    margin: 10px;
}
